
!.vscode/extensions.json
# Editor directories and files
# Logs
# local
*.local
*.local.json
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.env
.env.local
.idea
.vscode/*
/.local
/dev-dist
/playwright-report
/public-tenants
/test-results
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
supabase/.temp
yarn-debug.log*
yarn-error.log*
